<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


  <meta name="description" content="A brief guide to setup KaTeX">








<meta name="generator" content="Hugo 0.71.0" />
  <title>Math Typesetting | DSWG Example Site</title>
  <link rel="canonical" href="/post/math-typesetting/">


  








  
    
  
  
  <link rel="stylesheet" href="/css/base.min.64126d040515bde6f4d1a4eb6468112f1aba239a1cd7f691901d252357de6c16.css" integrity="sha256-ZBJtBAUVveb00aTrZGgRLxq6I5oc1/aRkB0lI1febBY=" crossorigin="anonymous">



</head>

<body>
  <nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <a class="Banner-link u-clickable" href="/">DSWG Example Site</a>
      </li>
      
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="/post/">Posts</a>
        </li>
      
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="/about/">About</a>
        </li>
      
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="/index.xml">RSS</a>
        </li>
      
    </ul>
  </div>
</nav>
  <main>
    <div class="u-wrapper">
      <div class="u-padding">
        

  <article>
    <header class="Heading">
  <h2 class="Heading-title">
    <a class="Heading-link u-clickable" href="/post/math-typesetting/" rel="bookmark">Math Typesetting</a>
  </h2>
  
    <time datetime="2019-03-08T00:00:00Z">8 March 2019</time>
  
</header>
    <p>Mathematical notation in a Hugo project can be enabled by using third party JavaScript libraries.</p>

<p>In this example we will be using <a href="https://katex.org/">KaTeX</a></p>

<ul>
<li>Create a partial under <code>/layouts/partials/math.html</code></li>
<li>Within this partial reference the <a href="https://katex.org/docs/autorender.html">Auto-render Extension</a> or host these scripts locally.</li>
<li>Include the partial in your templates like so:<br></li>
</ul>
<pre><code>{{ if or .Params.math .Site.Params.math }}
{{ partial &#34;math.html&#34; . }}
{{ end }}</code></pre>
<ul>
<li>To enable KaTex globally set the parameter <code>math</code> to <code>true</code> in a project's configuration</li>
<li>To enable KaTex on a per page basis include the parameter <code>math: true</code> in content files.</li>
</ul>

<p><strong>Note:</strong> Use the online reference of <a href="https://katex.org/docs/supported.html">Supported TeX Functions</a>
</p>

<h3 id="examples">Examples</h3>

<p>Inline math: <span  class="math">\( \varphi = \dfrac{1+\sqrt5}{2}= 1.6180339887… \)</span></p>

<p>Block math:</p>

<p><span  class="math">\[
 \varphi = 1+\frac{1} {1+\frac{1} {1+\frac{1} {1+\cdots} } } 
\]</span></p>
    


  

  





    
  

  </article>


      </div>
    </div>
  </main>
  
  <footer class="Footer">
    <div class="u-wrapper">
      <div class="u-padding">
        [CC BY-SA](https://creativecommons.org/licenses/by-sa/4.0/)
      </div>
    </div>
  </footer>

</body>

</html>
